.footer-newsletter {
  padding: 50px 0;
  min-height: 220px;
  .blue-button {
    max-width: 420px;
    margin: 0 auto;
    transition: all 0.4s;
    opacity: 1;
    visibility: visible;
    height: inherit;
    margin-top: 22px;
    &.transform {
      transform: translateX(260px);
      @include break($mobile) {
        transform: translateY(60px);
      }
    }
    &.hide {
      opacity: 0;
      visibility: hidden;
      
    }
    &.shrink {
      max-width: 140px;
    }
    &.disappear {
      display: none;
    }
  }
  #form-container {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    &.show {
      height: inherit;
      opacity: 1;
      visibility: visible;
    }
  }
  form {
    
    @include breakup(1000px) {
      br {
        display: none;
      }
    }
  }
}
.footer {
    background: $dark-gray;
    color: rgba(255,255,255,0.6);
    padding: 25px 20px;
    font-family: 'Tungsten';
    font-weight: 100;
    font-size: rem(20px);
    letter-spacing: 0.05em;
    > .container > .row {
      align-items: center;
    }
    @include break($menu-mobile) {
      font-size: rem(16px);
      padding: 25px 0px;
    }
    @include break($mobile) {
      text-align: center;
      font-size: rem(16px);
    }  
    a.footer-cta-button {
      text-decoration: none;
      color: #ffffff;
      font-size: 1rem;
      padding: 10px;
      margin-top: 0px;
      opacity:1;
    }     
  }

.footer a {
  text-decoration: none;
  color: rgba(255,255,255,0.6);
}

// Footer: Primary Navigation
.footer__nav {
  @include list-reset;
  //@include heading-small;
}

.footer__nav  li {
  display: inline;
  padding: 0 15px;
  @include break($menu-mobile) {
    padding: 0 6px;
  }
  a {
    text-decoration: underline;
    letter-spacing: 0.05em;

  }
  &:first-child {
    padding-left: 0;
  }
}

@include break($mobile) {
  .footer__nav li {
    display: block;
    padding: 15px 0;
    text-align: center;
  }
}

// Offices
.footer__offices {
  @include body-copy;
  margin: 0;
  padding-left: 0;
  text-align: right;
}

.footer__offices li {
  @include list-reset;
  display: inline;
  padding: 0 20px;

  &:last-child {
    padding-right: 0;
  }
}

@include break($mobile) {
  .footer__offices li {
    display: block;
    padding: 15px 0;
    text-align: center;
  }
}

// Social Media Icons
.social-media-icons {
  @include break($mobile) {
    margin-top: 25px;
  }
  ul {
    text-align: right;
    margin: 0;
    li {
      padding: 0;
      padding-left: 5px;
      a {
        display: flex;
        background: white;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        svg * {
          fill: $dark-gray;
        }
      }
    }
  }
}

.footer-logo-copyright {
  .footer__logo {
    display: inline-block;
    vertical-align: middle;
    @include break($mobile) {
      display: block;
      margin: 0 auto;
    }       
    img {
      height: 60px;
      width: auto;
      margin-right: 20px;
      @include break($mobile) {
        margin: 0 0 20px 0;
      }         
    }
  }
  .footer-copyright {
    display: inline-block;
    vertical-align: middle;
  }

}

.social-media--footer
.social-media-icons
svg path, 
.social-media--footer
.social-media-icons
svg circle {
  fill: $white;
}

@include break($mobile) {
  .social-media-icons {
    ul {
      text-align: center;
    }
  }
}

// Footer: Secondary Navigation
.footer__nav--secondary {
  @include list-reset;
  @include body-copy;
  li {
    display: inline;
    padding: 0 20px;
    &:first-child {
      padding-left: 0;
    }
  }
}

.footer__nav--secondary li {

  // mobile
  @include break($mobile) {
    display: block;
    padding: 15px 0;
    text-align: center;
  }
}

// Copyright block
.footer__copyright {
  text-align: right;
  // mobile
  @include break($mobile) {
    padding: 15px 20px;
    text-align: center;
  }
}
