.header {
  position: relative;
  @include break($menu-mobile) {
    height: auto;
    padding: 0;
  }  
}

// Flexbox containing all of the nav elements


.header__logo {
  position: absolute;
  top: 70px;
  display: block;
  img {
    max-height: 80px;
  }
  @include break($menu-mobile) {
    position: relative;
    top: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }   
}

.navbar {
  z-index: 99;
  .container {
    padding-left: 200px;
    @include break($menu-mobile) {
      padding: 0 15px;
      $max-width: $container;
      margin: 0 auto;
    }      
    #main-navigation {
      display: flex;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
      align-content: center;
      height: 110px;
      @include break($menu-mobile) {
        height: auto;
        display: block;
      }       
    }
  }
}

.header__cta {
  @include body-copy-large;
  font-weight: 500;
  text-transform: capitalize;
  &:hover {
    background: $black;
  }
  @include break($menu-mobile) {
    margin-left: 15px;
    margin-top: 15px
  }     
}
// Inline list on desktop, collapses to hamburger on mobile
.nav-main-menu {
  @include list-reset;
  @include body-copy-large;
  padding-left: 8%;
  font-size: rem(24px);
  font-weight: 400;
  height: 100%;
  .menu-item {
    display: inline-block;
    font-weight: 500;
    padding: 0 13px;
  }
  > li {
    margin-top: 8px;
    > a:after {
      border-bottom: 3px solid transparent;
      bottom: 35px;
      content: " ";
      display: block;
      max-width: 0%;
      padding-top: 5px;
      margin: 0 auto;
      transition: all .12s ease-in-out;
      @include break($menu-mobile) {
        border-bottom: none;
      }      
    }
    &:hover, 
    &.current-page-ancestor,
    &.current-menu-item {
      > a {
        
        &:after {
          max-width: 90%;
          border-color: $blue;
        }
      }
    }
    ul.sub-menu {
      display: none;
      @include break($menu-mobile) {
        display: block;
      }
      li {
        
        position: relative;
        &::before {
          //content: '- ';
          content: '';
          border: 5px solid transparent;
          border-left: 5px solid $blue;
          position: absolute;
          left: -15px;
          top: 8px;
        }
        a {
          padding: 0px;
        }
      }
    }
  }

  .menu-item a {
    color: $blue;
    text-decoration: none;
    display: block;
    height: 100%;
    //padding-top: 45px;
    @include break($menu-mobile) {
      padding: 23px 0 20px;
    }
  }

  @include break($menu-mobile) {
    width: 100%;
    height: auto;
    padding-left: 0;
    opacity: 1;
    li {
      display: block;
      padding: 0;
      border-top: 1px solid $white;
      height: auto;
      width: 100%;
      &:last-child {
        border-bottom: 1px solid $white;
      }
    }
    li a {
      padding: 0;
    }   
    .menu-item {
      padding: 0;
      font-weight: 600;
      a {
        padding: 20px 20px;
      }
      > a {
        padding-bottom: 5px;
      }
    }
  }
}
.navwrap {
  @include break($menu-mobile) {
    display: block;
    height: calc(100vh - 75px);
    height: 100vh;
    background: white;
    width: 100%;
    z-index: 100000;
    position: fixed;
    top: 57px;
    transform: translateX(-100vw);
    transition: all .2s ease-out;
  }
}
#primary.content-area {
      position: relative;
      z-index: 1;
      transition: z-index 0.4s;
    }
@include break($menu-mobile) {
    body.mobile-nav-open {
    position: fixed;
    .navwrap {
      transform: translateX(0);
    }
    #primary.content-area {
      position: relative;
      z-index: -1;
    }
  }  
}

