.search-bar {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  input[type="submit"] {
    display: none;
  }
  input[type="search"] {
    background-image: url(../img/search.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    height: 29px;
    padding-left: 45px;
    background-position: 10px;
    border: none;
    width: 44px;
    background-size: 25px;
    position: relative;
		margin-top: 10px;
    right: 0;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    outline: none;
    //line-height: 40px;
    cursor: pointer;
    padding: 0;
    padding-left: 45px;
    color: white;
  }
  input[type="search"]:focus {
    color: white;
    background-color: transparent;
    width: 220px;
    padding-left: 45px;
  }
  input::placeholder {
    opacity: 0.6;
    font-weight: 400;
    line-height: inherit;
  }

  .search-form {
    position: relative;
  }

  @include break($menu-mobile) {
    padding-left: 0;
    width: 40%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    font-size: 12px;

    input[type="search"] {
      width: 100%;
      border: none;
      background-color: transparent;
      font-size: 16px;
      background-size: 14px;
      padding-left: 22px;
      background-position: 4px;
      margin: 0px;      
      padding-right: 10px;
      font-size: 12px;
      
    }
    input[type="search"]:focus {
      width: 100%;
      border: none;
      padding-left: 22px;
    }
    input::placeholder {
      //@include heading-small;
      font-weight: 200;
      color: $blue;
      color: white;
      vertical-align: middle;
      opacity: 1;
      
    }
      @media(min--moz-device-pixel-ratio:0) {
        input::placeholder {
          line-height: 29px;
        }
      }
    // input::placeholder:not(:root:root) {
    //   vertical-align: middle;
    //   line-height: 14px;
    // }
  }
}