.top-nav {
  background: $dark-gray;
  color: $white;
  @include break($menu-mobile) {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 57px;
    overflow: hidden;
  }     
	.container {
		display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include break($menu-mobile) {
      display: block;
    }    
	}
  #topnav-navigation {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    @include break($menu-mobile) {
      padding-left: 0;
      width: 58%;
      font-size: rem(12px);
    }
    li {
      float: left;
      position: relative;
      padding: 0px 20px;
      @include break($menu-mobile) {
        //float: none;
        padding: 0;
        padding-right: 10px;
        //width: 100%;
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
          //padding-right: 20px;
        }
      }      
      a {
        color: $white;
        text-decoration: none;
      }
      &:after {
        content: " ";
        display: inline;
        height: 100%;
        right: 0px;
        width: 1px;
        background-color: #ffffff;
        position: absolute;
        @include break($menu-mobile) {
          //display: none;
        }        
      }
      &:last-of-type:after {
        display: none;
      }
    }
  }
}