@mixin form-fields {
  font-size: rem(24px);
  padding: 1.5rem;
  //margin: .5rem;
  width:100%;
  display:block;
  outline:none;
  border: none;
  font-family: 'Vitesse Sans';  
}

.block--content-block__cta,
.block--content-columns__text h4>a,
button,
.blue-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include big-button;
  border:2px solid transparent;
  &:hover {
    border:2px solid $blue;
    //padding:calc(1.5rem - 4px);
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  @include form-fields;
  background:$gray;

}

select {
  width: 100%;
  display: block;
  height: 48px;
  border: 5px solid $blue;
  color: $blue;
  font-weight: bold;
  padding: 0px 15px !important;
  padding-right: 50px !important;
  font-size: 20px;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  position: relative;

}

.select-wrap {
  display: block;
  position: relative;
  &:after {
    z-index: 100;
    @include chevron-down;
    position: absolute;
    right: 14px;
    top: 17px;
    border-color: $black;
    pointer-events: none;
  }  
}

textarea {
  overflow: auto;
  appearance: none;
  -webkit-appearance: none;
}
