// Bootstrap Grid

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 930px,
  lg: 1230px
);

$container-max-widths: (
  sm: 100%,
  md: 1300px,
  lg: 1300px
);

section {
  padding:$default-padding;
}

// Sticky Footer
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}
#site-footer {
  width: 100%;
  margin: auto auto 0 auto;
}