@mixin heading {
  font-family: 'Tungsten';
  font-weight: 600;
  font-size: rem(24px);
  line-height: 34px;
}

@mixin heading-med {
  font-family: 'Tungsten';
  font-weight: 500;
  font-size: rem(38px);

  @include break($mobile) {
    font-size: rem(30px);
    //line-height: 30px;
  }
}

@mixin heading-small {
  font-family: 'Tungsten';
  font-weight: 600;
  font-size: rem(16px);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 26px;
}


@mixin heading-large {
  font-family: 'Tungsten';
  font-weight: 600;
  font-size: rem(70px);
  line-height: 90%;
  text-transform: uppercase;
  @include break($mobile) {
    font-size: rem(30px);
  }
}

@mixin heading-x-large {
  font-family: 'Tungsten';
  font-weight: 700;
  font-size: rem(127px);
  line-height: 0.9em;
  @include break($mobile) {
    font-size: rem(57px);
  }
}

@mixin subheading {
  font-family: 'Tungsten';
  font-weight: 500;
  font-size: rem(16px);
  letter-spacing: 0.6px;
  line-height: 26px;
}

@mixin body-copy {
  font-family: 'Vitesse Sans';
  font-weight: 400;
  font-size: rem(22px);
  line-height: 1.28em;
  @include break($mobile) {
    font-size: rem(16px);
  }  
}

@mixin body-copy-large {
  font-family: 'Vitesse Sans';
  font-weight: 400;
  font-size: rem(22px);
  line-height: 32px;
}

@mixin type-med {
  font-family: 'Tungsten';
  font-weight: 400;
}

@mixin type-bold {
  font-family: 'Tungsten';
  font-weight: bold;
}

p {
  @include body-copy;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #ffffff;
}


@mixin formatted-content {
  font-family: 'Vitesse Sans';

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }

  p,
  ul,
  ol,
  blockquote {
    @include body-copy;
  }

  a {
    color: $blue;
  }

  blockquote {
    margin-left: 3em;
    margin-right: 3em;
    color: $dark-gray;
    font-size: 2.5em;

    p {
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }

  ul {
    padding-left: 15px;
    li {
      color: $blue;
      position: relative;
      &::before {
        //content: '- ';
        content: '';
        border: 5px solid transparent;
        border-left: 5px solid $blue;
        position: absolute;
        left: -15px;
        top: 8px;
      }
    }
  }
  hr {
    @include hr();
  }
}

.page-title {
  @include heading-x-large;
  color: $dark-gray;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

a {
  color: $blue;
}

article {
  h2::before {
  //   content: ' ';
  //   position: absolute;
  //   display: block;
  //   height: 100%;
  //   left: -40px;
  //   width: 14px;
  //   background: $blue;
  //   top: 0px;
  }

  ul {
    list-style-type: none;

    li {
      // &::before {
      //   content: '-';
      // }
    }
  }
}