/* SASS to accompany  */
.block--newsletter-block {
    @include section-padding;
    background:$gray;
    text-align: center;
    &__content { /* type: text */
        @include heading;
        margin-bottom: 30px;
    }
    form.wpcf7-form {
        position: relative;
        
    }
    span.wpcf7-not-valid-tip {
        position: absolute;
        left: 0px;
        top: -65px;
        color: #ff0000;
        @include break(1000px) {
            position: initial;
            margin: 5px 0px -10px;
        }
    }
    
    
    input[type=email] {
        width: auto;
        min-width: 35%;
        margin-right: 10px;
        outline:0;
        background: white;

    }
    input[type=email],
    input[type=submit],
    button {
        width: auto;
        display: inline-block;
        @include break(1000px) {
            display: block;
            margin: 0 auto;
        }
        @include break(500px) {
            display: block;
            margin: 0 auto;
            width: 100%;
            min-width: auto;
        }
    }
    input[type=submit] {
        @include break(500px) {
            font-size: 1rem;
        }
    }
}
div.wpcf7-validation-errors, 
div.wpcf7-acceptance-missing {
    border-color: #ff0000;
}
div.wpcf7-response-output {
    margin-top: 1em;
}