/* SASS to accompany  */
.block--related-posts {
    padding: 50px 0;
    background: $white;
    &__title { /* type: text */
        text-align: center;
        @include heading-med;
    }
    img {
        max-height: 400px;
    }
}