.block--text-over-image{
  background-color: $blue;
  position: relative;
  padding: 150px 0;
  @include break($mobile) {
    padding: 50px 0;
  }      
  &__background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 10;
    background-color: $blue;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;    
      background-color: $blue;
      opacity: 0.7;
      //mix-blend-mode: multiply;
    }
  }
  &__text {
    position: relative;
    color: white;
    z-index: 20;
    font-size: rem(32px);
    line-height: 1.3em;        
  }  

}