.block-case_studies_list {
  .case-study {
    margin-bottom: 50px;
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
    .info {
      .info-in {
        padding: 50px 100px;
        @include break($mobile) {
          padding: 0;
          margin-bottom: 30px;
        }
      }
      .company-story-logo {
        max-width: 250px;
        @include break($mobile) {
          margin: 0 auto;
          display: block;
        }
      }
      .company-story-desc {
        @include body-copy;
        font-size: rem(24px);
      }
      .cta-button {
        @include big-button;
        font-size: rem(16px);
        display: inline-block;
        width: auto;
        margin-top: 30px;
        text-align: center;
        @include break($mobile) {
          display: block;
        }        
      }
    }
    .company-story-image {}
  }
}