.block--stats-block {
  @include section-padding;
  //padding-right: 20%;
  //width: 80%;
  .stats-container {
    max-width: 80%;
    @include break($mobile) {
      max-width: 100%;
    }
  }
  .stat-row {
    border-top: 1px solid rgba($blue, 0.5);
    padding: 20px 0;
    &:first-of-type {
      border: none;
    }
  }
  &__title {
    @include heading-med;
    text-transform: uppercase;
  }
  &__text {
    p {
      margin: 0;
    }
  }
}