/* SASS to accompany  */
.social-media-icons {
  opacity: 1;
  transition: 0.3s;
  
  ul {
    list-style: none;
    text-align: right;
    padding: 0;
  }

  ul li {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
  }

}
