  .block--social-share {
      .container:before, .container:after {
        @include hr();
      }
    &__title {
        @include heading-med;
    }
    text-align:center;
    .social-links {
        display:flex;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }
  .social-link-item {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 20px;
     background-size:95%;
     background-position: center center;
     background-repeat:no-repeat;
     &.facebook {
      background-image:url('../img/facebook.svg');
     }
     &.linkedin {
      background-image:url('../img/linkedin.svg');
     }
     &.twitter {
      background-image:url('../img/twitter.svg');
     }
  }
  }