/* SASS to accompany  */
.block--content-block {
    @include section-padding;
    position: relative;

    .block--content-block__body {
        background: $white;

        @include break($mobile) {
            background: transparent;
        }
    }

    &.gray {
        background-color: $gray;

        .block--content-block__title {
            /* type: text */
            background: $gray;

            @include break($mobile) {
                background: transparent;
            }
        }

        .block--content-block__body {
            /* type: text */
            background: $white;

            @include break($mobile) {
                background: transparent;
            }
        }
    }

    &.white {
        background-color: $white;

        .block--content-block__title {
            /* type: text */
            background: $white;

            //background: none;
            @include break($mobile) {
                background: transparent;
            }
        }

        .block--content-block__body {
            /* type: text */
            background: $gray;

            @include break($mobile) {
                background: transparent;
            }
        }
    }

    &.overlap {
        /*overlap with image on other side */

    }

    &__background-image {
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 20%;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
    }

    &__title {
        /* type: text */
        @include floating--title;

    }

    &__body {
        /* type: wysiwyg */
        @include floating--body;
        @include body-copy;
        @include formatted-content;
        margin-top: 20px;

        h2 {
            font-weight: 300;
        }

        h6 {
            font-size: rem(20px);
            margin: 0;
            margin-bottom: 1em;
            font-weight: 300;
            color: $blue;
        }

        ul {
            li {
                line-height: rem(30px);
            }
        }
    }

    &__cta {
        /* type: link */
        @include big-button;
        width: auto;
        display: inline-block;
        margin: 0;
        margin-top: 20px;
    }

    &__image {
        /* type: image */
        position: relative;
        z-index: 1;
        // Client request remove negative image padding
        // margin-left: -9vw;
        // margin-right: -2vw;

        @include break($mobile) {
            margin: 20px auto;
        }

        img {
            width: 100%;
            height: auto;
        }

    }
}
.block--content-block {

    //REquested image order on mobile
    @include break($mobile) {
        &.img-removed-on-mobile .img-block {
            display:none;
        }
        .img-block {
            &.order-1 {
                order: 2 !important;
            }
  
            order:2 !important;
        }
  
        .content-column {
            &.order-2 {
                order: 1 !important;
            }
  
            order:1 !important;
        }
    }
  }