/* SASS to accompany  */
.block--quote-section {
    background:$blue;
    @include section-padding;
    &__quote-headline { /* type: text */
        text-transform:uppercase;
        color:#ffffff;
        font-family: 'Vitesse Sans';
        font-weight: 500;
        font-size: rem(36px);
        line-height: 1.3em;
        @include break($mobile) {
            font-size: rem(24px);
        }                   
    }
    &__quote { /* type: text */
        color:#ffffff;
        font-family: 'Vitesse Sans';
        font-size: rem(32px);
        line-height: 1.3em;          
        &:before {
            content:"\201C";
        }
        &:after {
            content:"\201D";
        }
        @include break($mobile) {
            font-size: rem(24px);
        }           
    }
    &__quote_link { /* type: link */
    }
    &__quote-attribution { /* type: text */
        //@include subheading;
        font-weight:400;
        color:#ffffff;
        margin-top: 40px;
        font-family: 'Tungsten';
        font-size: rem(32px);
        letter-spacing: 0.02em;
        &:before {
            content:"- ";
        }
        .quote-attribution {
            font-weight: 500;
        }
        @include break($mobile) {
            font-size: rem(24px);
        }           
    }
    &__attribution-subheading {
        color:#ffffff;
    }

}