/* SASS to accompany  */
.block--content-columns {
  @include section-padding;
  &__section_title {
    /* type: text */
  }

  &__title {
    /* type: text */
    @include heading-large;
    color: #000;
  }
  &__text {
    /* type: textarea */
    @include formatted-content;
    h4 {
      margin: 0;
    }
    h4>a {
      @include big-button;
      display: inline-block;
      margin: 10px 0;
      width: auto;
    }
  }
  .row {
    @include break($xs-mobile) {
      display: block;
    }
  }
  .content--col {
    padding-right: 30px;
    @include break($mobile) {
      margin-bottom: 20px;
      padding-right: 20px;
    }     
  }
}
