/* SASS to accompany  */

.slider {
    display:flex;
    align-items: center;
}
.block--carousel {
    text-align: center;
    .gridiron-slide {
        padding-top: 20px;
    }
    .gridiron-slide-in {
        text-align: center;
        display: block;
    }
    &__image { /* type: image */
        max-height: 175px;
        height: auto;
        width: auto;
        max-width: 60%;
        margin: 0 auto;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center center;
        object-position: center center;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    .gridiron-slide a {
        &:hover {
            .block--carousel__image {
                @include breakup($mobile) {
                    transform: scale(1.1);
                }
            }
        }
    }

}