/* SASS to accompany  */
.block--cta-block {
    padding: 50px 0;
    background: $dark-gray;
    
    text-align: center;
    font-family: 'Tungsten';

    &__title { 
        color: rgba(255,255,255,0.8);
        font-size: rem(40px);
        text-decoration:none;
        a {
            color: rgba(255,255,255,0.8);
        }
    }

    &__link {
        @include big-button;
        display: inline-block;
        width: auto;
        margin-top: 20px;
        color: rgba(255,255,255,0.8);
    }    


}