.gridiron-breadcrumbs {
  padding: 20px 15px;
  .breadcrumb {
    &:before {
      content: ' > ';
      color: $blue;
    }
    &:first-of-type {
      &:before {
        display: none;
      }
    }
  }
}