.single-case_studies {
  background: $white;
  .company--description {
    display: none;
  }
  .case-study {
    &__description {
      @include body-copy;
      @include formatted-content;
      h2, h3 {
        @include heading-med;
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}