.post-team-bio {
  color: $dark-gray;
  .person--name.block--content-block__title {
    padding-bottom: 0px;
    text-transform: uppercase;
    @include heading-x-large;
    margin-top: 0.5em;
  }
  .person--title {
    //@include heading-med;
    font-family: 'Vitesse Sans';
    font-weight: bold;
    font-size: rem(30px);
    color: $dark-gray;
    margin-bottom: 3rem;
    @include break($xs-mobile) {
      margin-bottom: 1rem;
    }
  }
  .person--phone,
  .person--email {
    //@include heading-small;
    font-size: rem(24px);
    font-family: 'Vitesse Sans';
    @include break($xs-mobile) {
      font-size: rem(17px);
    }
  }
  .person--image {
    position: relative;
    img {
      position: relative;
      display: block;
      z-index: 2;
    }
  }
  .person--gradient {
    @include photo-overlay-gradient;
  }
  .person--social-icons {
      display:flex;
      a {
          display:block;
          width:40px;
          height:40px;
          margin:10px;
          background-size:contain;
          background-repeat:no-repeat;
          background-position:center;
          &:first-of-type {
            margin-left:0px;
          }
          &.linkedin {
              background-image:url('../img/linkedin-teambio.svg');
          }
          &.twitter {
            background-image:url('../img/twitter-teambio.svg');
          }
          &.email {background-image:url('../img/mail-teambio.svg');}
          &.share {background-image:url('../img/share-teambio.svg');}
      }
  }
  .person--description {
    margin-top: 50px;
    @include formatted-content;
    @include break($mobile) {
      margin-top: 30px;
    }
  }
  .person--top.row {
    @include break($mobile) {
      display: block;
      .team-bio-pic {
        margin-top: 20px;
      }
    }
  }
}
