.single-company {
    background:$gray;
}
.company--details {
    padding-top: 30px;
    .company--title {
        margin-bottom: 0px;
    }
    .block--content-block{
        &__body {
            background:$white;
            margin-bottom: 50px;
            @include break($mobile) {
                background: transparent;
            }
        }
    }

}
.case-study--subtitle_info,
.company--subtitle_info {
    margin-bottom: 30px;
    font-size: rem(22px);
    strong {
        font-weight:600;
        color: $black;
    }
    span {
        font-weight:400;
        color:$blue;
    }
}
