.team-meet-more {
  text-align: center;
  h2 {
    @include heading-med;
    letter-spacing: 0.08em;
    margin-bottom: 0;
  }
  &__member {
    padding: 3.2em;
    @include body-copy;  
    color: $blue;
    text-decoration: none;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__member-image {
    @include ratio(2,2.3);
    margin-bottom: 2em;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .15s ease-out;
      max-height: 100%;
    }

  }
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
    font-weight: normal;
  }
}