body.error404 {
    form.search-form {
        
        input.search-field,
        input.search-submit {  
            width: 300px;    
            display: inline-block;
            margin-right: 20px;
            @include break($mobile) {
                width: 100%;
                margin: 10px 0px;
            }
        }
    }
    .screen-reader-text {
        margin-bottom: 10px;
        display: block;
    }
    #archives-dropdown--1 {
        max-width: 300px;
        width: 300px;
    }
}  