.companies__filter {
  margin: 100px 0;
  .label {
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  .col-md-4 {
    @include break($mobile) {
       select {
         margin-bottom: 20px;
       }
      }
    
  }
}
.company-list-item__wrap {
  border: 5px solid white;
  display: block;
  padding: 2em;
  transition: border .1s ease-in;
  margin-right: 6em;
  text-decoration: none;
  &:hover {
    border-color: $blue;
  }
  @include break($mobile) {
      margin-right: 0em;
  }
}

.company-list-item {
  display: none;
  &.is--active {
    display: block;
  }
  &__image {
    margin-bottom: 1.2em;
    img {
      width: 100%;
      height: 120px;
      opacity: 1;
      display: block;
      object-fit: contain;
      object-position: left center;   
      max-width: 260px; 
    }
  }
  &__title {
    h2 {
      margin: 0;
      text-decoration: underline;
      &:before {
        display: none;
      }
      margin-bottom: 10px;
      display: block;
    }
  }
  &__hq,
  &__date {
    color: $black;
    text-decoration: none;
    border-bottom: none;
    display: block;
    font-size: rem(22px);
  }
}