.page-template-page-contact {
  .contact-text {
    @include body-copy;
    margin-bottom: 50px;
  }
  #primary input[type=submit] {
    max-width: 240px;
    @include break($xs-mobile) {
      width: 100%;
      max-width: 100%;
    }
  }
  .block--content-block__image {
    margin-left: 0px;
    &.mobileImage {
      display: none;
      @include break($mobile) {
        display: block; 
        margin-top: -20px;
      }
    }
    &.desktopImage {
      @include break($mobile) {
        display: none;
      }
    }
  }
  .container > .row {
    @include break($mobile) {
      display: block;
      .col-5,
      .col-7 {
        max-width: 100%;
      }
    }
  } 
  textarea {
    @media screen and (min-width:931px) {
      width: 240%;
    }
  }
  .contact-page-address {
    padding: 50px 0px;
    background: $gray;
    font-size: rem(20px);
    border-bottom: 2px solid $white;
    h3 {
      color: $blue;
      margin-bottom: 0px;
      text-transform: uppercase;
    }
    @include break($mobile) {
      .col-5 {
        width: 100%;
        margin: 0 0 20px;
      }
    }
  }
}