body.home {
    section#winning-together {
        padding: 40px 0px;   
    }
    section#powerful-strategy {
        @include breakup($mobile) {
            height: 1115px;
            padding-top: 40px;
            h2 {
                position: absolute;
                top: 0px;
                left: -70%;
                width: 1000px;    
            }
            .block--content-block__image img {
                margin-top: 330px;
            }
            .col-md-7.order-2 .block--content-block__body {
                position: absolute;
                top: 620px;
                left: -180px;
            }
        }
        @include break($mobile) {
            .order-1 {
              order: 2;
            }
            .order-2 {
              order: 1;
            }
        }        
    }
    //over ride content box offsets to work with current asset
    section#ten-years {
        @include breakup($mobile) {
            
            .col-md-7.order-2 .block--content-block__body {
                margin-left: 20px;
            }
        }
        @include break($mobile) {
            .order-1 {
              order: 2;
            }
            .order-2 {
              order: 1;
            }
        }         
    }
}  