.page-news-list {
  .posts__filter {
    padding:40px 0px;
    .option-cat {
      width:auto;
    }
  }
  label {
    display:block;
  }
  .select-field-box {
    cursor:pointer;
    position:relative;
    display: inline-block;
    clear: both;
    .select-arrow-icon {
      position: absolute;
      z-index: 3;
      right: 12px;
      top: 16px;
      width: 24px;
      svg {
        width:100%;
        * {
          fill:$blue;
        }
      }
    }
  }
  .sticky {
    background-color: $blue;
    padding-top: 50px;
    color: $white;

    .post-list-item__title {
      color: $white;

      h2 {
        border-color: $white;
      }
    }

    .post-list-item__cats .post-cat {
      color: $white;
      border-color: $white;
    }
  }

  .posts__list-container {
    .post-list-item {
      .container {
        padding-top: 50px;
        border-top: 1px solid $blue;
      }

      

      &:first-of-type {
        border: none;
      }
    }
  }
}
.load-posts {

  display:none;
  opacity:0;
  &.is--active {
    opacity:1;
    display:inline-block;
    width:auto !important;
  }
  @include big-button;
}
.posts__spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  opacity:0;
  transition:opacity .25s ease-in-out;
  &.is--active {
    opacity:1;
  }
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $blue transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}