.gridiorn-news-post-single {
  .post {
    &__label {
      margin-bottom: 3em;
    }
    &__title {
      margin-bottom: 3em;
      h1 {
        margin: 0;
        @include heading-x-large;
        line-height: 0.8;
        font-weight: normal;
      }
    }
    &__date {
      font-size: 1.5em;
      margin-bottom: 0.75em;
      color: $blue;
    }
    &__category {
      .post-cat {
        @include boxed-inline-link;
      }      
    }
    &__content {
      margin: 50px 0px 70px;
      display: block;
    }
  }
}