.search-page {
  margin: 0px 0 75px;
  .search-form {
  	input[type=submit] {
  		display: none;
  	}
  	input[type=search] {
  		height: 45px;
      border: none;
  
      color: white;
      width: 80%;
      background: none;
      padding: 0 5px;
  	}

    input[type=search]:focus {
  		height: 45px;
      border: none;
  		border-bottom: 2px solid $blue;
      color: black;
      width: 80%;
  	}
  }
  .search-list-item__excerpt {
    margin-top: rem(10px);
  }
  .search-info {
    p {
      margin: 0;
      a {
        color: $black;
      }      
    }
    margin-bottom: 5em;
    @include break($mobile){
      margin-bottom: 2em;
    }
  }

 
}

.search-list-item {
  @include post-list-item;
  border-top: 1px solid $blue;
  padding-top: 2em;
  margin-bottom: 0em;
  &:first-of-type {
    border: none;
  }
}
