.page-template-page-team main section:nth-child(2) {

    h2 {
        background: transparent !important;
    }

    .block--content-block__body {
        max-width: 570px;
    }
}

.team-grid-container-hidden {
    display: none;
}

.team-filters-wrap {
    margin-bottom: 50px;
}

.team-grid-container {
    opacity: 0;
    transition: all .25s ease-in-out;
    width: 100%;
    position: Relative;

    &.is--loaded {
        opacity: 1;
    }
}

.team-grid-item {
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: all .25s ease-in-out;
    cursor: pointer;

    .team-border-overlay {
        position: Absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 10px solid $blue;
        opacity: 0;
        transition: all .24s ease-in-out;
        z-index: 2;
        color: white;
        text-align: center;

        &:after {
            content: '';
            @include photo-overlay-gradient;
        }

        &__text {
            position: absolute;
            bottom: 30px;
            width: 100%;
            font-size: 24px;
            z-index: 100;

            h4 {
                margin: 0;
                text-transform: uppercase;
            }
        }
    }

    &:hover .team-border-overlay {
        opacity: 1;
    }

    img {
        position: relative;
        max-width: 100%;
        width: 100%;
        height: auto;
        z-index: 1;
        display: block;
        margin: 0;
        padding: 0;
    }
}