.page-id-138 {
  section {
    &:nth-of-type(2) {
      padding-bottom: 20px;
      .block--content-block__body {
        background: $white;
      }
    }   
    &:nth-of-type(3) {
      background: $gray;
      padding-top: 20px;
      .block--content-block__body {
        background: $gray;
      }
    }    
  }  
}