
body.page-id-135 {
  // section {
  //   &:nth-of-type(2) {
  //     padding-bottom: 0;
  //   }
  //   &:nth-of-type(3) {
  //     padding-top: 0;
  //   }    
  // }
  #extended-gridiron-team {
    @include break($mobile) {
      .order-1 {
        order: 2;
      }
      .order-2 {
        order: 1;
      }
    }
  }
}