
// Layout

$container: 1300px;

// Breakpoints

$xs-mobile: 500px;
$mobile: 930px;
$menu-mobile: 1190px;

// Colors

$black: #022549;
$white: #fff;
$blue: #004a97;
$gray: #f6f6f6;
$dark-gray:#231f20;

$default-padding: 2rem 0;

// Imports
// Mixins
@import 'lib/mixins';


// Bootstrap Grid
@import 'base/**/*.scss';
@import "~bootstrap/scss/bootstrap-grid";


@import 'lib/**/*.scss';

@import 'blocks/**/*.scss';
@import 'components/**/*.scss';
@import 'pages/**/*.scss';
